
  .list-tab {
    list-style: none;
    display: flex;
    overflow-x: auto;

    .list-tab-item {
      flex-shrink: 0;
      width: 100px;
      padding: 0 25px;
      text-overflow: normal;
      margin-right: 5px;
      border: solid 1px #242f9b;
      justify-content: center;
      align-items: center;  
    }
    .active {
      background-color: #242f9b;
      color: #ffffff;
    }
  }
  